<div class="col-10 offset-1 about">




<div class="col-10 offset-1">
  <h1>About Splurty</h1>

<p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Marco</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken</a>. A web developer trying to make it work.
  </p>
  <br />
  <p>
    Learning to code through the University of Arizona "Coding Bootcamp". 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Cody Ray</h2>
      <br />
      <p>
        Cody Ray is an aspiring "coder" trying to make a name for himself through using computers as a resource to solve issues.
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />